/* Genrelt */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #262626;
}
img {
  width: 100%;
}

html {
  height: 100%;
}

.ww {
  display: none;
}

main {
  padding: 7%;
}

/* Om mig */

#om_mig p {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  padding: 2%;
  text-align: justify;
  line-height: 1.7rem;
  color: white;
}
#om_mig h2 {
  padding-bottom: 1%;
  padding-top: 10%;
  text-align: center;
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  color: #f2cf63;
}

p {
  font-family: "Montserrat", sans-serif;
}

.cv h2 {
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 100;
  padding-top: 7%;
  padding-bottom: 7%;
  font-size: 2rem;
  color: #f2cf63;
}

.first {
  border: 1px solid white;
  padding: 5%;
  width: 70%;
  background-color: #f2c063;
  margin: 2%;
}

.second {
  border: 1px solid white;
  background-color: #f2cf63;
  color: black;
  padding: 5%;
  width: 70%;
}

.cv {
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* Burger menu */

nav.shown {
  padding-top: 1rem;
  display: flex;
  flex: 1 1 100%;
  flex-flow: column;
  z-index: 2;
  position: absolute;
  background-color: #262626;
  width: 100%;
  height: 100%;
}

.overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2;
}

nav {
  display: none;
}
ul {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  list-style: none;
  margin-top: 0.7%;
}
a:hover {
  text-decoration: underline;
}

nav ul {
  display: flex;
  flex-flow: column;
}

.toggle-btn.open .burger,
.close {
  display: none;
}

.toggle-btn.open .close,
.burger {
  display: block;
}

li {
  padding-top: 4rem;
  margin: auto;
}

a {
  font-size: 2rem;
  text-decoration: none;
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 700;
  color: #f2cf63;
  letter-spacing: 1px;
}
a:visited {
  color: #f2cf63;
}

.toggle-btn {
  background: transparent;
  border: none;
  display: block;
  width: 44px;
  height: 44px;
  padding: 0.25rem;
  cursor: pointer;
  z-index: 3;
  position: absolute;
}

hr {
  width: 50%;
  margin: 0 auto;
  border: #707070 solid 1px;
}

/* Alt i main mobil*/

#white {
  color: #f2cf63;
  grid-row: 2;
  text-align: center;
  grid-column: 2/5;
}

#black {
  color: #f2cf63;
  text-align: center;
  grid-row: 3;
  grid-column: 2/5;
}

h1 {
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: bold;
  font-size: 8rem;
  color: #f2cf63;
}
/* Projekter */

#gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 5%;
}

.border {
  border: grey 1px solid;
  padding: 14%;
  margin: 5%;
}

h3 {
  padding: 3% 0% 0% 0%;
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  font-size: 2rem;
  text-align: center;
}

#grid {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

.container {
  position: relative;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
}

.middle {
  position: absolute;
  top: 80%;
  left: 12%;
  text-align: center;
}

.text {
  color: black;
  border-radius: 0.2rem;
}

#gallery a {
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 1.9rem;
  font-weight: 100;
}

/* Franske */
#franske h3 {
  padding-bottom: 1%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  padding-left: 2%;
  font-size: 2.5rem;
  padding-top: 5%;
}

@media (min-width: 600px) {
  /* Alt i main */
  #white {
    grid-row: 2;
    text-align: center;
    grid-column: 1/5;
  }

  #black {
    text-align: center;
    grid-row: 3;
    grid-column: 2/6;
    padding-right: 7%;
  }

  h1 {
    font-family: "Open Sans Condensed", sans-serif;
    font-size: 12rem;
    font-weight: bold;
    color: #f2cf63;
  }

  #grid {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  /*Burger menu*/
  nav {
    display: none;
  }
  ul {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    list-style: none;
    margin-top: 0.7%;
  }
  a:hover {
    text-decoration: underline;
  }

  nav.shown {
    padding-top: 1rem;
    display: flex;
    flex: 1 1 100%;
    flex-flow: column;
    z-index: 2;
    position: absolute;
    background-color: #262626;
    width: 40%;
    height: 100%;
  }

  nav ul {
    display: flex;
    flex-flow: column;
  }

  .toggle-btn.open .burger,
  .close {
    display: none;
  }

  .toggle-btn.open .close,
  .burger {
    display: block;
  }

  li {
    padding-top: 4rem;
    margin: auto;
  }
  a {
    font-size: 2.5rem;
    text-decoration: none;
    font-family: "Open Sans Condensed", sans-serif;
    color: #f2cf63;
    letter-spacing: 1px;
  }
  a:visited {
    color: #f2cf63;
  }

  .toggle-btn {
    background: transparent;
    border: none;
    display: block;
    width: 44px;
    height: 44px;
    padding: 0.25rem;
    cursor: pointer;
    z-index: 3;
    position: absolute;
  }

  hr {
    width: 100%;
    margin: 0 auto;
    border: #707070 solid 1px;
  }

  /* Om mig */

  main {
    padding: 0%;
  }
  #wrapper {
    max-width: 1650px;
    margin: 0 auto;
  }
  #om_mig {
    padding: 5%;
    display: flex;
  }

  #om_mig p {
    font-family: "Montserrat", sans-serif;
    font-size: 1.2rem;
    padding: 0%;
    padding-right: 8%;
    text-align: justify;
    line-height: 1.7rem;
    color: white;
  }
  #om_mig h2 {
    padding-bottom: 1%;
    font-family: "Open Sans Condensed", sans-serif;
    font-weight: bold;
    font-size: 2.5rem;
    padding-top: 5%;
    text-align: left;
    color: #f2cf63;
  }
  .test {
    width: 75%;
  }

  p {
    font-family: "Montserrat", sans-serif;
  }
  .cv {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding-bottom: 2%;
  }

  .cv h2 {
    font-family: "Open Sans Condensed", sans-serif;
    font-weight: 100;
    padding-top: 5%;
    padding-bottom: 3%;
    font-size: 2rem;
    color: #f2cf63;
  }
  .first {
    border: none;
    padding: 2%;
    width: 20%;
    background-color: #f2c063;
    margin: 1%;
  }

  .second {
    border: none;
    background-color: #f2cf63;
    color: black;
    padding: 2%;
    grid-row: 1;
    grid-column: 4;
    width: 20%;
    margin: 1%;
  }

  .pad {
    padding-bottom: 2%;
  }

  .ww {
    display: inline;
  }
  /* Projekter*/

  #gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 3%;
  }

  .border {
    border: 1px solid black;
    padding: 2%;
    margin: 2%;
  }

  h3 {
    padding: 3% 0% 0% 0%;
    font-family: "Open Sans Condensed", sans-serif;
    font-weight: 700;
    font-size: 2.5rem;
    text-align: center;
    color: #f2cf63;
  }
  .container {
    position: relative;
  }

  .image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: 0.5s ease;
  }

  .middle {
    transition: 0.5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }

  .container:hover .image {
    opacity: 0.5;
  }

  .container:hover .middle {
    opacity: 1;
  }

  .text {
    color: black;
    border-radius: 0.2rem;
    padding: 2%;
  }

  #gallery a {
    color: #f2cf63;
    font-family: "Open Sans Condensed", sans-serif;
    font-size: 2.5rem;
  }

  main {
    padding: 0%;
  }
  .bgimgcolor {
    background: #f2cf63;
    max-width: 1650px;
    margin: 0 auto;
  }
  #firstbank {
    padding: 5%;
    display: flex;
    justify-content: space-evenly;
  }

  #firstbank p {
    font-family: "Montserrat", sans-serif;
    font-size: 1.2rem;
    line-height: 2rem;
    color: white;
  }
  #firstbank h2 {
    padding-bottom: 1%;
    font-family: "Open Sans Condensed", sans-serif;
    font-weight: 700;
    font-size: 2.5rem;
    padding-top: 5%;
    padding-bottom: 7%;
    color: #f2cf63;
  }

  #firstbank h3 {
    padding-bottom: 1%;
    font-family: "Open Sans Condensed", sans-serif;
    font-size: 2rem;
    text-align: left;
    padding: 0% 2% 2% 0%;
    color: white;
  }

  #secondbank {
    padding: 5%;
    display: flex;
    justify-content: space-evenly;
  }

  #secondbank p {
    font-family: "Montserrat", sans-serif;
    font-size: 1.2rem;
    line-height: 2rem;
    color: white;
  }
  #secondbank h2 {
    padding-bottom: 1%;
    font-family: "Open Sans Condensed", sans-serif;
    font-weight: 700;
    font-size: 2.5rem;
    padding-top: 5%;
    padding-bottom: 7%;
  }

  #secondbank h3 {
    padding-bottom: 1%;
    font-family: "Open Sans Condensed", sans-serif;
    font-size: 2rem;
    text-align: left;
    padding: 0% 2% 2% 0%;
    color: white;
  }

  #thirdbank {
    padding: 5%;
    display: flex;
    justify-content: space-evenly;
  }

  #thirdbank p {
    font-family: "Montserrat", sans-serif;
    font-size: 1.2rem;
    line-height: 2rem;
    color: white;
  }
  #thirdbank h2 {
    padding-bottom: 1%;
    font-family: "Open Sans Condensed", sans-serif;
    font-weight: 700;
    font-size: 2.5rem;
    padding-top: 5%;
    padding-bottom: 7%;
  }

  #thirdbank h3 {
    padding-bottom: 1%;
    font-family: "Open Sans Condensed", sans-serif;
    font-size: 2rem;
    text-align: left;
    padding: 0% 2% 2% 0%;
    color: white;
  }
  .test2 {
    width: 33%;
  }

  .imgbg {
    background-color: #f2cf63;
  }

  .titel {
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    font-size: 2.3rem;
    font-weight: 700;
  }
  #wrapper2 {
    max-width: 1500px;
    margin: 0 auto;
  }

  .pads {
    padding-top: 15%;
  }
}
